/* colors: 
#000000 black
#FBFFF1 ivory 
#317231 dark green
#96CC8F light green
#C9E6C0 lightest green
*/

/* Structure */

html {
    background-color: #FBFFF1;
}

header {
    background-color: #317231;
    text-align: center;
    justify-content: center;
    margin: 15px auto 25px auto;
    width: 90%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0 30px 25px 30px;
}

#main {
    margin: 0 auto;
}

#intro {
    display: flex;
    margin: 0 auto;
    width: 65%;
    max-width: 2000px;
}

#introText {
    flex: 1;
    padding: 10px 15px;
    color: #000000;
}

#content {
    display: flex;
    flex: 1;
    background-color: #C9E6C0;
    height: 900px;
    max-height: 80vh;
    min-height: 20vh;
    width: 80%;
    max-width: 2000px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

/* .bamboo {
    height: 550px;
    position: fixed;
    bottom: 0;
} */

#sidebar {
    background-color: #96CC8F;
    padding: 15px;
    margin-right: 10px;
    width: 30%;
    overflow: auto;
    border-radius: 15px;
    box-sizing: border-box;
}

#sidebarHeader {
    background-color: #317231;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

#map {
    flex: 3;
    height: 100%;
    width: 65%;
}

.panda {
    display: none;
}

.pandaImage {
    height: 175px;
}

hr {
    width: 35%;
    color: #317231;
    height: 5px;
}

#generalInfo {
    margin: 10px 0px;
}

summary {
    cursor: pointer;
}

summary > * {
  display: inline;
}

footer {
    height: 5vh;
    padding: 10px;
    justify-items: center;
}

/* Fonts */


.lemonada-regular {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.elms-sans-regular {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Typography */
h1 {
    font-family: "Lemonada", cursive;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    margin: 0px auto;
    color: #FFFFFF;
}

h2 {
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
    margin: 0px auto;
}

#zooName {
    font-family: "Lemonada", cursive;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
    line-height: 1;
}
    
#country {
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    color: #FFFFFF;
}

p, #generalInfo {
    font-size: 1em;
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    color: #000000;
}
