/* colors: #000000, #FFFFFF, #507840*/

/* Structure */


header {
    background-color: #FFFFFF;
    text-align: center;
    padding: 30px;
}

#main {
    margin-left: 10px;
    margin-right: 30px;
}

#intro {
    background-color: bisque;
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
}

#introText {
    flex: 1;
    padding: 10px 15px;
}

#content {
    display: flex;
    flex: 1;
    background-color: lightgray;
    height: 750px;
    max-height: 60vh;
    min-height: 20vh;
    max-width: 1500px;
    margin: 0 auto;
}


#sidebar {
    background-color: lightpink;
    padding: 15px;
    max-width: 30%;
}

#map {
    flex: 3;
}



/* Typography */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 7em;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

#zooName {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}


