header {
    background-color: #6C584C;
    height: 10vh;
}

div.intro {
    display: flex;
}

article {
    background-color: #EAF2E9;
    float: left;
    width: 60vw;
    height: 30vw;
    padding-left: 15px;
}

aside {
    background-color: #DDE5B6;
    float: right;
    width: 40vw;
    height: 30vw;
    padding-left: 15px;
}

#visual {
    background-color: #EAF2E9;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

#map { 
    height: 60vh;
    width: 80%;
    border: 1px solid #588157;
}

#sidebar {
    background-color: #588157;
    float: left;
    width: 20%;
    height: 60vh;
    padding-left: 10px;
    border: 1px solid #588157;
}

/*colors: F0EAD2, DDE5B6, ADC178, A98467, 6C584C */
