/* colors: #000000, #FFFFFF, #507840*/

/* --- Structure --- */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #FFFFFF;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-shrink: 0;
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    margin: 0 auto;
}

#intro {
    width: 80%;
    margin: 0 auto;
    flex-shrink: 0;
}

#content {
    background-color: pink;
    position: relative;
    display: flex;
    flex: 1;
    height: 80vh;
    min-height: 400px;
    width: 80%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
}


#sidebar {
    background-color: #507840;
    width: 30%;
    padding: 0px, 10px;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    flex-shrink: 0;
}

#map {
    width: 70%;
    height: 100%;
    flex: 1;
}

.panda {
    display: none;
}

footer {
    height: 10px;
    flex-shrink: 0;
}

.pandaImage {
    height: 50px;
}

hr {
    width: 40%;
    height: 5px;
    margin: 0 auto;
    background-color: #507840;
}

/* --- Fonts --- */


.lemonada-regular {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.elms-sans-regular {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* --- Typography --- */
header h1 {
    font-family: "Lemonada", cursive;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0px;
}

header h2 {
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    margin-top: 0px;
    text-align: center;
    font-size: 2em;
}

#zooName {
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
}
    
#country {
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
}

p, #generalInfo {
    font-size: 1em;
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
}
